<mat-toolbar>
  <button mat-icon-button aria-label="Example icon-button with menu icon">
    <mat-icon>menu</mat-icon>
  </button>
  <span>Spaces</span>
</mat-toolbar>

<div *ngFor="let space of dataService.spaces;">
  <p>{{space.space_name}}</p>
</div>

<mat-list *ngFor="let space of dataService.spaces;">
  <mat-list-item>
    <span>{{space.space_name}}</span>
    <span matListItemLine>{{space.space_description}}</span>
    <button mat-icon-button (click)="onEdit(space.space_id)">
      <mat-icon>edit</mat-icon>
    </button>
    <button mat-icon-button>
      <mat-icon>delete</mat-icon>
    </button>
  </mat-list-item>
</mat-list>