<h1>Sign Up</h1>

<table>
    <tr>
        <td>
            <mat-form-field>
                <mat-label>Username</mat-label>
                <input matInput type="text" [(ngModel)]="user.username">
            </mat-form-field>
        </td>
    </tr>
    <tr>
        <td>
            <mat-form-field>
                <mat-label>Firstname</mat-label>
                <input matInput type="text" [(ngModel)]="user.firstname">
            </mat-form-field>
        </td>
        <td>
            <mat-form-field>
                <mat-label>Lastname</mat-label>
                <input matInput type="text" [(ngModel)]="user.lastname">
            </mat-form-field>
        </td>
    </tr>
    <tr>
        <td>
            <mat-form-field>
                <mat-label>Email</mat-label>
                <input matInput type="text" [(ngModel)]="user.email">
            </mat-form-field>
        </td>
    </tr>
    <tr>
        <td>
            <mat-form-field>
                <mat-label>Password</mat-label>
                <input matInput type="password" [(ngModel)]="user.password">
            </mat-form-field>
        </td>
    </tr>

    <tr>
        <td>
            <button mat-raised-button color="primary" (click)="onCreate($event)">Create</button>
        </td>
        <td>
            <button mat-raised-button color="primary" (click)="goToLogin($event)">Login</button>
        </td>
    </tr>
</table>
