<mat-toolbar>
  <button mat-icon-button (click)="goBack()">
    <mat-icon>arrow_back</mat-icon>
  </button>
  <span *ngIf="space">{{space.space_name}}</span>
  <ng-template #elseBlock>No name</ng-template>
</mat-toolbar>

<div class="expense-body">
  <mat-nav-list class="expense-tile" *ngFor="let expense of dataService.expenses;" (click)="onExpense(expense.expense_id)">
    <span matListItemTitle class="expense-line">{{expense.expense_description}}</span>
    <span matListItemLine class="expense-line">Payd by {{expense.expense_paid_by}}</span>
  </mat-nav-list>

  <button mat-fab class="add-button" color="primary" (click)="openCreateExpenseDialog()">
    <mat-icon>add</mat-icon>
  </button>
</div>
