.body {
  width: 50%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  margin-left: auto;
  margin-right: auto;
}

.list-item {
    border-bottom: grey solid 1px;
}

.space-id {
    margin-top: auto;
    margin-bottom: auto;
}

.space-id-col {
    display: flex;
}

.buttons {
  display: flex;
  justify-content: space-between;
}