<mat-toolbar>
  <button mat-icon-button>
    <mat-icon>arrow_back</mat-icon>
  </button>
  <span *ngIf="space">{{space.space_name}}</span>
</mat-toolbar>

<table *ngIf="space">
  <tr>
    <td>ID</td>
    <td>{{space.space_id}}</td>
  </tr>
  <tr>
    <td>Description</td>
    <input matInput type="text" [(ngModel)]="space.space_description">
  </tr>
  <tr>
    <td>Author</td>
    <td>{{space.space_admin}}</td>
  </tr>
  <tr>
    <td colspan="2">
      <mat-card>
        <mat-card-title>Members</mat-card-title>
        <mat-list>
          <div *ngFor="let collaborator of space.space_collaborators;">
            <mat-list-item>
              <mat-icon matListItemIcon>person_pin</mat-icon>
              <span matListItemTitle>{{collaborator}}</span>
              <button mat-icon-button color="accent" (click)="deleteUserFromSpace(collaborator)">
                <mat-icon>delete</mat-icon>
              </button>
            </mat-list-item>
          </div>
          <mat-list-item>
            <input matInput type="text" [(ngModel)]="memberToAdd">
            <button mat-icon-button color="accent" (click)="addUserToSpace()">
              <mat-icon>add</mat-icon>
            </button>
          </mat-list-item>
        </mat-list>
      </mat-card>
    </td>
  </tr>

  <tr>
    <td>
      <button mat-raised-button color="primary" (click)="onSave()">Save</button>
    </td>
    <td>
      <button mat-raised-button color="primary" (click)="onDelete()">Delete</button>
    </td>
  </tr>
</table>